/**
  主题变量样式修改
**/
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  /* 按钮颜色 */
  --vp-button-brand-bg: var(--vp-c-brand);
  /* 首页标题和图片渐变颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, var(--vp-c-brand) 45%, var(--vp-c-brand-next) );
  --vp-home-hero-image-background-image: linear-gradient( -45deg, var(--vp-c-brand) 45%, var(--vp-c-brand-next) );
  --vp-home-hero-image-filter: blur(180px);
}

.VPNavBarMenuLink.active {
  color: var(--vp-c-brand) !important;
}


/**
  顶部导航模块的样式修改
**/
.VPNav {
  .VPNavBar {
    background-color: #fff;
    border-bottom: 1px solid rgba(60, 60, 67, 0.13);
  }
  .VPNavBar.has-sidebar {
    .curtain {
      bottom: -30px !important;
      /* 导航的底部边框不显示问题修改 */
      &::before {
        margin-top: 2px !important;
      }
    }
  }
  .logo {
    height: 40px;
  }
}

/**
  首页样式修改
**/
.VPHome {
  .box {
    .title {
      font-size: 20px;
      color: var(--vp-c-brand);
    }
  }
}

/**
  内容模块样式修改
**/

.VPContent {
  .VPDoc {
    padding-left: 0 !important;
  }
  /* 内容左边距调整 */
  .content-container {
    margin-left: 20px !important;
  }
  .VPHome { 
    /* 标题样式修改 */
    .name {
      font-size: 50px;
    }
    /* 副标题样式修改 */
    .text {
      font-size: 40px;
      line-height: 56px;
    }
    .tagline {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

/**
  暗黑模式下的样式修改
**/
.dark {
  .VPNav .VPNavBar {
    background-color: #1e1e20;
    border-bottom: 1px solid #000;
  }
}
