@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1692586177430') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu:before {
  content: "\e633";
}

.icon-fanhuidingbu1:before {
  content: "\e713";
}

.icon-fanhuidingbu2:before {
  content: "\e62d";
}

